body{width:100%;font-size:12px;background:url(../images/background_bg.jpg) repeat-x;}
a{text-decoration:none;}
ul{list-style:none;}
img{border:none;}
.center2{width:1580px; margin:0 auto; overflow:hidden;}
.head_wrap{overflow:hidden; padding: 8px 0 15px 0; width:1580px; margin:0 auto;}
/*==========左侧样式开始===========*/
.content{overflow:hidden;width:1580px;margin:0 auto;}

.left_wrap{float:left;width:245px;}
.left_menu{background:url(../images/images/ist.jpg) no-repeat; overflow:hidden;}
.left_menu ul{ overflow:hidden;}
.left_menu ul .headline{height:59px;font-size:28px;color:#dd5318;font-weight:bold;line-height:59px; text-align:center;}
.left_menu ul li{height:49px;font-size:18px;line-height:49px;padding:10px 0px;}
.left_menu ul li a{color:#000000; display: block;height:49px;font-size:18px;line-height:49px;margin:10px 0px; text-align:center;}
.left_menu ul li a:hover,.left_menu ul li .dq{color:#dd5318; background: url(../images/images/lit01.jpg) no-repeat left top;}

/*==========左侧样式结束===========*/
/*==========右边样式开始===========*/
.right{width:1280px;float:left; font-size:14px; line-height:30px; margin-left:40px;}
.right .know{margin:0 0 90px 295px;}
.right .know_raise{width:980px;height:104px;}
.right .know_raise img{margin:0 0 10px 0;}
.right .know_raise li.p{width:717px;font-family:"宋体";line-height:22px;color:#666666;margin:0 0 42px 0;}
.right .picture{width:980px;height:511px;}
.right .picture .picture_serve{margin:0 0 42px 0;}
.right .list{width:980px;height:65px;margin:33px 0 36px 0;}
.right .list ul{width:980px;height:65px;}
.right .list ul .left{width:150px;height:65px;border-right:1px solid #cbcbcb;margin-left:15px;float:left;}
.top{font-size:20px;font-weight:bold;color:#000000;margin-bottom:5px;}
.public{font-size:12px;clear:#666666;margin-bottom:3px;}
.right .list ul .middle{width:174px;height:65px;border-right:1px solid #cbcbcb;margin-left:58px;float:left;margin-bottom:10px;}
.right .list ul .right{width:414px;height:65px;margin-left:69px;float:left;}
.right .team{margin-top:15px;}
/*==========右边样式结束===========*/
/*右侧*/
.site_map p{height: 40px;line-height: 40px;font-size: 14px;}
.site_map p.title{background:#fddaca; border-bottom:1px #fff solid;}
.site_map p.jishu{background:#fdfaf9; border-bottom:1px #fff solid;}
.site_map p a{color: #333;padding: 0px 10px;}
.site_map p a:hover{color: #333;color: #e95412;}
.abotu_list ul li{width: 33%;float: left;height:500px;text-align: center;margin: 20px 0px;}
.abotu_list ul li h3{font-size: 16px;line-break: 32px;border-bottom: 2px #ff9d09 solid;width: 120px;margin: 0px auto;height: 50px;padding-top: 8px;}
.abotu_list ul li h3 span{display: block;}
.abotu_list ul li p{padding: 10px 10%;text-align: left;line-height: 22px;}
.about_t{width: 600px;line-height:22px;padding:50px 0px 50px 70px;}
/*会员须知*/
.bmber h2{font-size: 16px;font-weight: bold;line-height: 32px;padding: 10px 0px;color:black;}
.bmber p{font-size: 14px;line-height: 30px;text-indent:2em;}
/*新手指引*/
.right .one{width:981px;padding-bottom:132px;}
.right .one .dp_one{width:974px;padding-left:3px;}
.right .one .headline{width:974px;height:98px;line-height:98px;font-family:"迷你简幼线";letter-spacing:10px;font-size:66px;padding:28px 0 0 164px;}
.right .one .explain{width:646px;font-family:"创艺简中圆";font-size:20px;color:#a5a5a5;line-height:26px;padding:65px 0 0 164px;}
.right .one .headline_dp{width:974px;height:98px;line-height:98px;font-family:"迷你简幼线";letter-spacing:10px;font-size:66px;padding:28px 0 0 190px;}
.right .one ul{width:897px;padding:68px 0 0 38px;}
.right .one ul li{width:203px;float:left;}
.right .one ul li img{width:90px;padding:0 0 10px 48px;}
.right .one ul li p{width:203px;font-family:"创艺简中圆";font-size:18px;line-height:33px;color:#a5a5a5;}
.right .one ul .special{width:203px;padding-left:28px;float:left;}
.right .one .atlas{width:669px;height:412px;padding:68px 0 0 154px;}
.right .one .headline_tp{width:974px;height:98px;line-height:98px;font-family:"迷你简幼线";letter-spacing:10px;font-size:66px;padding:28px 0 68px 96px;}
.right .one .tp_one{padding-left:152px;}
.right .one .headline_ap{width:974px;height:98px;line-height:98px;font-family:"迷你简幼线";letter-spacing:10px;font-size:66px;padding:28px 0 68px 250px;}
/*付款方式*/
.pay_title{height:80px; padding-left:100px;}
.p_title{height:50px; line-height:50px; margin-top:30px;}
.yinhang,.yinhang ul{overflow:hidden;}
.yinhang ul li{float:left; margin:5px 30px;}
.yinhang ul li img{border:1px #ddd solid;}


/*适配*/
@media screen and (max-width: 1600px) {
	.big_wrap{ width:1350px;}
	.center2{ width:1350px;}
	.head_wrap{ width:1350px;}
	
	.left_wrap{ width:222px;}
	
	.content{width:1350px}
	.right{  width:1050px;}
}
@media screen and (max-width: 1366px) {
	.big_wrap{ width:1150px;}
	.center2{ width:1150px;}
	.head_wrap{ width:1150px;}
	
	.left_wrap{ width:200px;}
	
	.content{width:1150px}
	.right{  width:890px;}
}
@media screen and (max-width: 1280px) {
	.big_wrap{ width:1000px;}
	.center2{ width:1000px;}
	.head_wrap{ width:1000px;}
	
	.left_wrap{ width:180px;}
	
	.content{width:1000px}
	.right{  width:700px;}
}
